/* https://codepen.io/wikyware-net/pen/dyKPRxQ */

/* <div className='repo-format-container'>
                <div className='repo-box'>
                    {await repositories.forEach(repo => {
                        <div className="repo-list-item">
                            <a href={repo.url} className="repo-link">
                                <div className="repo-background"></div>
                                <div className="repo-title">{repo.name}</div>
                                <div className="repo-date">{formatDate(repo.created_at)}</div>
                            </a>
                        </div>
                    })}
                </div>
            </div> */

.repo-format-container {
    width: 1142px;
    margin: 0 auto;
}

.repo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.repo-list-item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.repo-link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

.repo-link:hover {
    text-decoration: none;
    color: #FFF;
}

.repo-list-item:hover,
.repo-background {
    /* -webkit-transform: scale(2); */
    /* -ms-transform: scale(2); */
    transform: scale(2);
}

.repo-title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.repo-date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.repo-date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.repo-background {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.repo-list-item:nth-child(2n),
.repo-background {
    background-color: #3ecd5e;
}

.repo-list-item:nth-child(3n),
.repo-background {
    background-color: #e44002;
}

.repo-list-item:nth-child(4n),
.repo-background {
    background-color: #952aff;
}

.repo-list-item:nth-child(5n),
.repo-background {
    background-color: #cd3e94;
}

.repo-list-item:nth-child(6n),
.repo-background {
    background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
    .repo-list-item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .repo-title {
      font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .repo-format-container {
      width: 96%;
    }
}

@media only screen and (max-width: 639px) {
    .repo-list-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .repo-title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .repo-link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
}